body {
  background-image: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
}

/* image section */
.image {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

/* content section */
.content {
  background-color: #283e50;
  text-align: center;
}

.card__title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 20px;
  text-align: center;
}

.card__body {
    padding: 0 7px 20px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: #283e50;
  }

a {
    color: #ffffff;
    text-decoration: none;
}

.button {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.button--rules {
    background-color: #1fcca4;
    border-bottom: 1px solid #283e50;
}

.button--rules:hover {
    background-color: #1cbb96;
}

.button--start-game{
    background-color: #0197f6;
}

.button--start-game:hover {
    background-color: #0090e9;
}

/* game field styles */

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-card {
  max-width: 80vmin;
}

.card__status-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card__status-menu__status {
  text-transform: uppercase;
  padding: 5px 0;
}

.reload-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.reload-button {
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}

.reload-button--home {
  background-color: #1fcca4;
}

.reload-button--restart {
  background-color: #0197f6;
}

.reload-button--home:hover {
  background-color: #1cbb96;
}

.reload-button--restart-game:hover {
  background-color: #0090e9;
}

.playing-field {
  display: flex;
  flex-direction: column;
}

.one-column {
  display: flex;
  flex-wrap: nowrap
}

.one-box {
  height: 6vw;
  width: 6vw;
  border: 1px solid black;
  opacity: 0.5;
}

.one-box:hover,
.one-box:focus {
  opacity: 0.7;
}
