* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
}

/* image section */
.image {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

/* content section */
.content {
  background-color: #283e50;
  text-align: center;
}

.game__title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 20px 0 0;
  text-align: center;
}

.card__body {
    padding: 0 7px 20px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: #283e50;
    gap: 1px;
  }

a {
    color: #ffffff;
    text-decoration: none;
}

.button {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.button--rules,
.game__link--home {
    background-color: #1fcca4;
}

.button--rules:hover,
.game__link--home:hover {
    background-color: #1cbb96;
}

.button--start-game,
.game__link--restart {
    background-color: #0197f6;
}

.button--start-game:hover,
.game__link--restart:hover {
    background-color: #0090e9;
}

/* game field styles */

.game {
  max-width: 80vmin;
  margin: 1rem auto 2rem auto;
}

.game__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

.game__nav--left {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game__symbol {
  height: 1rem;
}

.game__nav--right {
  display: flex;
  align-items: center;
}

.game__link {
  padding: 5px 7px;
  border-radius: 7px;
  margin: 5px;
  cursor: pointer;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
}

.game__box {
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  opacity: 0.5;
}

.game__box:hover,
.game__box:focus {
  opacity: 0.7;
}
